<nav class="navigation-styles">
    <ul ngbNav #nav="ngbNav" class="nav">
        <li ngbNavItem>
            <a ngbNavLink [routerLink]="['/']">Home</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink [routerLink]="['/discussions']">Book discussion</a>
        </li>
        <li ngbNavItem [routerLink]="['/top']">
            <a ngbNavLink>Top picks</a>
        </li>
        <li ngbNavItem [routerLink]="['/authors']">
            <a ngbNavLink>Top authors</a>
        </li>
    </ul>
</nav>
<div [ngbNavOutlet]="nav"></div>