<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Motiv8</a>
    <ul ngbNav #nav="ngbNav" class="nav">
        <li ngbNavItem>
            <a ngbNavLink [routerLink]="['/']">Home</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink [routerLink]="['/discussions']">Book discussion</a>
        </li>
        <li ngbNavItem [routerLink]="['/top']">
            <a ngbNavLink>Top picks</a>
        </li>
        <li ngbNavItem [routerLink]="['/authors']">
            <a ngbNavLink>Top authors</a>
        </li>
        <li ngbNavItem [routerLink]="['/register']">
            <a ngbNavLink>Register</a>
        </li>
        <li ngbNavItem [routerLink]="['/login']">
            <a ngbNavLink>Login</a>
        </li>
    </ul>
    </div>
</nav>
<div [ngbNavOutlet]="nav"></div>