<div class="jumbotron">
    <h1>Home</h1>
</div>

<div class="books-list">
    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>

    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>


    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>


    <div class="book-container">
        <div class="image-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61c+9WIeIpL.jpg" alt="" class="book-image">
        </div>
        <div class="text-container">
            <h3>The art of life</h3>
        </div>
    </div>
</div>